{% extends 'shared/newbase.html' %}
{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'profile/css/editmyprofile.css' %}">

<style>
    .profile-completed-text{
        font-size: 15px;
    }
</style>
{% endblock %}



    <!-- Main Content Section -->
    {% block maincontent %}
        
        
    
        <div class="content-wrapper">
            <!-- <img src="{% static 'profile/img/pro3.jpg' %}"> -->
            <!-- <div class="color-container"></div>  -->
            <div class="image-container">
                <div class="top-bar">
                    <a href="{% url 'userhome:home1' %}">
                        <div class="back-button-top">
                            <!-- <span>&lt;</span> -->
                            <span><i class="fa-solid fa-chevron-left"></i></span>
                            
                       </div>
                    </a>
                    
                </div>
                <div class="profile-info">
                    <h2 id="profileName">Change Password</h2> 
                </div>
                
            </div>
            <div class="white-section">
                <div class="home-indicator"></div>
               
                <div class="floating-nav-panel-bottom">
                    <a href="#" class="nav-btn-bottom pass-btn-bottom"><i class="fas fa-times"></i></a>
                    <a href="#" class="nav-btn-bottom match-btn-bottom"><i class="fas fa-star"></i></a>
                    <a href="#" class="nav-btn-bottom increase-match-btn-bottom"><i class="fas fa-heart"></i></a>
                    <a href="#" class="nav-btn-bottom message-btn-bottom6"><i class="fas fa-comment"></i></a>
                </div>      
                <div class="home-indicator bottom-1"></div>  
            </div>     
            
           
    
        </div>
  
           
    
    {% endblock maincontent %}

    <!-- Main Content Section -->

    {% block js %}
    <script src="{% static 'profile/js/profile.js' %}"></script>
    {% endblock %}